---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
       <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 120px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h5 class="pt-3" id="year-{{ year.name }}">{{ year.name }}</h5>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            <!-- 先筛选出 selected == true 的条目 -->
            {% assign selected_items = year.items | where: "selected", true %}
            <!-- 再筛选出其他条目 -->
            {% assign other_items = year.items |  where: "selected", false %}

            <!-- 先展示 selected == true 的条目 -->
            {% for item in selected_items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}

            <!-- 再展示其他条目 -->
            {% for item in other_items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
