
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-lg-12">
                        <h6 class="mb-2" style="background: linear-gradient(90deg, #4d79b9, #4d79b9); -webkit-background-clip: text; color: transparent;">
                            Research Journey: Human-Centered Research
                        </h6>
                        <img src="/assets/files/experience.png" alt="Research Journey" class="img-fluid rounded shadow-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
